.flex1{
    flex: 1 !important;
}
.flex3{
    flex: 3 !important;
}
.saleImg{
    width: 60px;
}
.prop_img{
height: 100%;
width: auto !important;
    max-height: 300px;
}
.text_cross{
    text-decoration: line-through;
}
.mar_but_10{
    margin-bottom: 10px!important;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   width: 100%;
    }
.card-image{
    height: 300px;
    display: flex;
    justify-content: center;
}


/*itemAdd*/
.item_img{
    width: 100%;
    border: dimgrey 1px inset;
    margin-top: 50px;
 }

.img-box{
    display: flex;
    width: 100%;
    max-height: fit-content;
    height: 60px;
    margin-top: 1px;
    margin-bottom: 15px;
}
.img-box img{
    height: 100%;

}
.img-box img:hover{
    height: 100%;
    border: dodgerblue 1px inset;
}
.img-box_select {
    border: coral 2px inset;
}
.desc_text{
    text-align: justify;
    min-height: 200px;
}
.inputPadNull{
    padding: 0 !important;
}

.signAlertDiv{
    height: 50px;
    text-align: center;
}

.signAlertDiv span{
    line-height: 50px;
}
.nav-avatar {
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    margin: 10px 10px 10px 0;
}
.product-cart-btn {
    bottom: 7px !important;
    right: 7px !important;
}
/*.div-preview{*/
/*    width: 100%;*/

/*}*/
/*.div-preview img{*/
/*    padding: 2px !important;*/


/*}*/